@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin:  0 auto;
}



/* HEADER */


.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}



.logo {
    padding: 0 12px 3px 0;
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: black;
    line-height: 1;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* navs */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-size: 14px;
    font-weight: 500;
}

.nav-button {
    display: none;
}

.nav-link {
    color: black;
}

.nav-link.active {
    color: #606060;
}

.nav-link:hover {
    text-decoration: overline;
    color: #606060;
    transition: .5s ease;
}


/* header content */


.header-content {
    max-width: 500px;
    margin-top: 124px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}


.header-heading {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

.header-content p {
    line-height: 2;

}




/* SECTION-1 */

.services {
    padding: 90px 0;
}


.services-row  /*services-row*/ {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.logo-job /*serice card img*/ {
    margin-bottom: 30px;
}

.service-card {
    flex: 1 1 0;
    min-width: 315px;
}

.job-title /*serice card title*/ {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.job-subtitle /*serice card p*/{
    line-height: 28px;
    font-weight: 400;
}




/* SECTION 2 */
/* PORTFOLIO */


.portfolio {
    background-color:#F1F1F1;
    padding: 90px 0;
}



.portfolio-title {
    padding-bottom: 70px;
    text-align: center;
    line-height: 51px;
    font-weight: 600;
    font-size: 34px;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #070707;
}


.project a {
    color: #070707;
    text-decoration: underline;
}

.project a:hover {
    color: #606060;
    font-size: 21px;
    transition: 0.4s ease;
}




/* FOOTER */
/* SOCIAL LINKS / CONTACTS */


.contacts {
    text-align: center;
    padding: 90px 0;    
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
    color: #070707;
}

.contacts-title {
    margin: 40px 0;
}

.contacts-content {
    margin-bottom: 40px;
    font-size: 18px;  
}

.contacts-button {
    margin-bottom: 80px;
}

.btn {
    background-color:#070707;
    display: inline-block;
    padding: 7px 22px;
    color: #F1F1F1;
    border-radius: 20px;
    font-size: 18px;
    line-height: 27px;
    transition: background-color 0.2s ease-in;
    box-shadow: 0 4px gray; /* Добавляем тень кнопке */
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    background-color: #323232;

}

.btn:active {
    position: relative;
    top: 1px;
    transform: translateY(4px); /* Больше сдвигаем кнопку вниз при нажатии на нее */
    box-shadow: none;

    background-color: black;
}

.contacts-social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-social img:hover{
    transform: scale(1.2);
    transition: .4s ease;
}

.contacts-footer {
    color: #828282;
}



